include LICENSE
include MANIFEST.in
include *.rst
include *.md
include *.sh
include startds/conf/*/*tpl
include startds/conf/exp_template/*tpl
include startds/conf/exp_template/exp_name/metadata/*tpl
include startds/conf/exp_template/exp_name/models/*tpl
include startds/conf/exp_template/exp_name/outputs/figures/*tpl
include startds/conf/exp_template/exp_name/src/*/*tpl
include startds/conf/exp_template/exp_name/src/*/*/*tpl
include startds/conf/exp_template/exp_name/src/*/*/*/*tpl
graft docs
graft extras
graft tests
global-exclude __pycache__
global-exclude *.py[co]